@dark-grey: rgb(100, 100, 100);
@light-grey: rgb(200, 200, 200);
@dark-purple: rgb(95, 0, 179);
@light-purple: rgb(135, 0, 255);
@dark-yellow: rgb(255, 161, 0);
@light-yellow: rgb(255, 184, 0);
@dark-green: rgb(5, 179, 85);
@light-green: rgb(0, 255, 117);
@dark-pink: rgb(170, 6, 124);
@dark-pink-trans: rgba(117, 0, 84, 0.5);
@light-pink: rgb(255, 0, 184);
@dark-blue: rgb(0, 124, 157);
@light-blue: rgb(0, 201, 255);
@light-orange: rgb(255, 92, 0);
@dark-orange: rgb(182, 66, 0);
@light-red: rgb(255, 0, 61);
@dark-red: rgb(176, 0, 42);
@dark-background: #2f1e2e;
@light-background: #452a43;
